<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'index1.css'%}">
    <link rel="stylesheet" href="{%static 'blogpost.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {% if not userstate%}
      <script>
        location.href="/";
      </script>
    {%else%}
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <img src="{%static 'Logo.png'%}" height="60" width="150" style="margin-bottom: 12px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-content">
                <li class="nav-item item1">
                    <a class="nav-link active " aria-current="page" href="#" style="color: #34c9e7"></a>
                  </li>
              <li class="nav-item home">
                <a class="nav-link active " aria-current="page" href="/userHome" style="color: #fff;background-color:#3dc0da;border-radius:10px;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/rentcar">Rent Car</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/offers">Offerings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/about" >About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/contact" >Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/blog" >blog</a>
              </li>
              <li class="nav-item btn1"style="margin-left:8rem;">
                <a class="nav-link" ></a>
              </li>
              <li class="nav-item login-signup-btns" style="margin-top:12px;">
                <i class="fa-solid fa-user"></i>
                <span>{{user}}</span>
              </li>
              <li class="nav-item" style="margin-top:9px;">
                <a href="/"><button class="btn btn-danger">Log Out</button></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {%endif%}
      {%block content%}
    <header>
        <h1>Welcome To DriveEase Community Blog</h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 leftside-trending-topics">
                <div class="trending-posts">
                    <h5 style="text-align: center;">Trending Topics</h5>
                    <hr>
                    <ul>
                        <li>Did Company Provide Loans ?</li>
                        <li>Does License required to rent cars ?</li>
                        <li>Economy Level Cars are Available</li>
                        <li>Did Company Provide Loans ?</li>
                        <li>Does License required to rent cars ?</li>
                        <li>Economy Level Cars are Available</li>
                    </ul>
                </div>

                <div class="solved-issues">
                    <h5 style="text-align: center;">Solved Issues</h5>
                    <hr>
                    <ul>
                        <li>Did Company Provide Loans ?</li>
                        <li>Does License required to rent cars ?</li>
                        <li>Economy Level Cars are Available</li>
                        <li>Did Company Provide Loans ?</li>
                        <li>Does License required to rent cars ?</li>
                        <li>Economy Level Cars are Available</li>
                    </ul>
                </div>
            </div>
            <div class="col-10 posts">
                <div class="container post-actions">
                    <span data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa-solid fa-plus"></i> Add
                        Posts</span>
                </div>
                <div class="container all-posts">
                    <h5>Recent Posts</h5>
                    <div class="post-list">
                        {% for post in posts %}
                        <div class="postcard">
                            <div class="post-header">
                                <span class="badge text-bg-primary">New</span>
                                <span class="badge text-bg-danger">Author : {{post.author}}</span>
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <hr style="border:1px solid rgb(107, 105, 105);">
                            <div class="post-body">
                                <h6 style="text-align: center;">{{post.topic}}</h6>
                                <p>{{post.desc}}</p>
                            </div>
                            <hr style="border:1px solid rgb(107, 105, 105);">
                            <div class="post-questions">
                                <span class="q1">Comments ?</span>
                                <span class="q1">Hear Back ?</span>
                                <span class="q1">...</span>
                            </div>

                            <div class="post-date" style="text-align: center;"><span
                                    class="badge text-bg-warning">Created at : {{post.today}}</span></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="addpost/" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Post</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="author">Author : </label>
                        <input type="text" name="author" placeholder="Enter Your Name">
                        <br>
                        <br>
                        <label for="topic">Topic : </label>
                        <input type="text" name="topic" placeholder="Enter Topic/Issues">  
                        <br>
                        <br>
                        <label for="topic">Describe : </label>
                        <br>
                        <br>
                        <textarea rows="5" cols="50" name="desc-topic">  </textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {%endblock%}
    <footer class="bg-body-tertiary text-center " >
        <!-- Grid container -->
        <div class="container p-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
      
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>Sign up for our newsletter</strong>
                  </p>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form5Example24" class="form-control" />
                    <label class="form-label" for="form5Example24">Email address</label>
                  </div>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4" style="border:2px solid black;">
                    Subscribe
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
      
          <!-- Section: Text -->
          <section class="mb-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
              repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum
              harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
          </section>
          <!-- Section: Text -->
      
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
      
                <ul class="list-unstyled mb-0">
                  <li>
                    <a class="text-body" href="#!">Link 1</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 2</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 3</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 4</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
      
                <ul class="list-unstyled mb-0">
                  <li>
                    <a class="text-body" href="#!">Link 1</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 2</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 3</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 4</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
      
                <ul class="list-unstyled mb-0">
                  <li>
                    <a class="text-body" href="#!">Link 1</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 2</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 3</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 4</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
      
                <ul class="list-unstyled mb-0">
                  <li>
                    <a class="text-body" href="#!">Link 1</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 2</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 3</a>
                  </li>
                  <li>
                    <a class="text-body" href="#!">Link 4</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2020 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>

</html>