<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'index1.css'%}">
    <link rel="stylesheet" href="{%static 'home1.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
  </head>
<body>
  <div id="main">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <img src="{%static 'Logo.png'%}" height="60" width="150" style="margin-bottom: 12px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-content">
                <li class="nav-item item1">
                    <a class="nav-link active " aria-current="page" href="#" style="color: #34c9e7"></a>
                  </li>
              <li class="nav-item home">
                <a class="nav-link active " aria-current="page" href="/" style="color: #fff;background-color:#3dc0da;border-radius:10px;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Rent Car</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/offers">Offerings</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact" >Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog" >blog</a>
              </li>
              <li class="nav-item btn1">
                <a class="nav-link" ></a>
              </li>
              <li class="nav-item login-signup-btns">
                <button class="btn login-btn">Log in</button>
              </li>
              <li class="nav-item">
                <button class="btn signup-btn">Sign Up</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      {% comment %} header ends {% endcomment %}
      <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Please Pay Attention !!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You Must Login First To Access This Feature
        <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/EddY9gk1YkWAnImfKm" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p></p>
      </div>
      
    </div>
  </div>
</div>
      {%block content%}

      {%endblock%}


      {% comment %} <div class="container-fluid footer">
        <div class="row">
          <div class="col-3 footer-car-logo">
            <img src="{%static 'Logo.png' %}" height="100" alt="" srcset="" style="background-color: #fff;">
          </div>
          <div class="col-3 footer-content-1">
            <ul>
              <li>Progress</li>
              <li>About</li>
              <li>Pricing</li>
              <li>Invoice</li>
              <li>Tax</li>
            </ul>
          </div>
          <div class="col-3 footer-content-1">
            <ul>
              <li>Company</li>
              <li>About</li>
              <li>Pricing</li>
              <li>Invoice</li>
              <li>Tax</li>
            </ul>
          </div>
          <div class="col-3 footer-content-1">
            <ul>
              <li>Company</li>
              <li>About</li>
              <li>Pricing</li>
              <li>Invoice</li>
              <li>Tax</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center" style="background-color: #34c9e7;color: #fff; ">&copy; All Rights Reserved</div>
        </div>
    </div> {% endcomment %}

    {% comment %} footer ends {% endcomment %}

  </div>
  <script>
    var signup=document.querySelector(".signup-btn");
    var signupBack=document.querySelector(".signup-back");
    var authBackground=document.querySelector(".auth-back");
    var main=document.querySelector("#main");
    var login=document.querySelector(".login-btn");
    var c1=document.querySelector(".c1");
    var c2=document.querySelector(".c2");
    var footer=document.querySelector(".footer-1");
    var beforeFooter=document.querySelector(".before-footer");
    var b1=document.querySelector(".b1");
    var b2=document.querySelector(".b2");
    var aboutTemplate=document.querySelector(".about-template");
    var testimonials=document.querySelector(".testimonials-heading");
    login.addEventListener("click",()=>{
      signupBack.style.display="none";
      authBackground.style.display="flex";
      c1.style.display="none";
      c2.style.display="none";
      footer.style.display="none";
      beforeFooter.style.display="none";
      b1.style.display="none";
      b2.style.display="none";
      aboutTemplate.style.display="none";
      testimonials.style.display="none";
    })
    
    
    signup.addEventListener("click",()=>{
      authBackground.style.display="none";
      signupBack.style.display="flex";
      c1.style.display="none";
      c2.style.display="none";
      footer.style.display="none";
      beforeFooter.style.display="none";
      b1.style.display="none";
      b2.style.display="none";
      aboutTemplate.style.display="none";
      testimonials.style.display="none";
    })

    var cross1=document.querySelector(".fa-xmark");
    cross1.addEventListener("click",()=>{
      signupBack.style.display="none";
      authBackground.style.display="none";
      footer.style.display="block";
      aboutTemplate.style.display="block";
      testimonials.style.display="block";
      c1.style.display="block";
      c2.style.display="block";
      b1.style.display="block";
      b2.style.display="block";
    })

    var cross2=document.querySelector(".login-xmark");
    cross2.addEventListener("click",()=>{
      authBackground.style.display="none";
      footer.style.display="block";
      aboutTemplate.style.display="block";
      testimonials.style.display="block";
      c1.style.display="block";
      c2.style.display="block";
      b1.style.display="block";
      b2.style.display="block";
    })
  </script>
</body>
</html>